In [2]:
import pandas as pd

In [6]:
# Завантажуємо створену таблицю основних даних для подальшої обробки
data_air = pd.read_excel('D:/Jupyter notebook/3 курс/Air_town/Data_air_town.xlsx', sheet_name='Основні дані')
data_air

,Місто,Назва домішки,"qср, мг/м3",у ГДКс.д.,"qмакс, мг/м3",у ГДКм.р.,Дата
0,Біла Церква,Завислі речовини,0.063093,0.420617,0.1420,0.284000,31.03.2023
1,Біла Церква,Дiоксид сiрки,0.032899,0.657972,0.0642,0.128400,31.03.2023
2,Біла Церква,Оксид вуглецю,1.295370,0.431790,2.4000,0.480000,31.03.2023
3,Біла Церква,Дiоксид азоту,0.117694,2.942338,0.2406,1.203000,31.03.2023
4,Бровари,Завислі речовини,0.052667,0.351111,0.0720,0.144000,31.03.2023
...,...,...,...,...,...,...,...
9112,Чернівці,Формальдегiд,0.000665,0.221795,0.0099,0.282857,31.03.2024
9113,Чернігів,Завислі речовини,0.102038,0.680256,0.1600,0.320000,31.03.2024
9114,Чернігів,Дiоксид сiрки,0.050833,1.016663,0.0854,0.170800,31.03.2024
9115,Чернігів,Оксид вуглецю,0.419231,0.139744,1.2500,0.250000,31.03.2024
9116,Чернігів,Дiоксид азоту,0.070749,1.768714,0.1294,0.647000,31.03.2024

In [24]:
# Завантажуємо створену таблицю основних даних для подальшої обробки
data_index = pd.read_excel('D:/Jupyter notebook/3 курс/Air_town/Data_air_town2.xlsx', sheet_name='Індекси забруднення')
data_index

             Місто  Індекс забруднення атмосфери        Дата
0      Біла Церква                          4.23  30.11.2021
1          Бровари                          3.40  30.11.2021
2          Вінниця                          4.35  30.11.2021
3   Горішні Плавні                          2.04  30.11.2021
4           Дніпро                         10.11  30.11.2021
..             ...                           ...         ...
73          Херсон                          7.72  31.12.2021
74    Хмельницький                          3.23  31.12.2021
75         Черкаси                          4.53  31.12.2021
76        Чернівці                          1.90  31.12.2021
77        Чернігів                          3.82  31.12.2021

[78 rows x 3 columns]

In [25]:
# Перегляд структури та основної інформації
data_air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589 entries, 0 to 588
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Місто           589 non-null    object
 1   Назва домішки   589 non-null    object
 2   qср,     мг/м3  589 non-null    float64
 3   у ГДКс.д.       537 non-null    float64
 4   qмакс, мг/м3    589 non-null    float64
 5   у ГДКм.р.       559 non-null    float64
 6   Дата            589 non-null    object
dtypes: float64(4), object(3)
memory usage: 32.3+ KB

In [26]:
# Заміна значень в колонці "у ГДКс.д." на 0.006 для сульфатів
data_air.loc[data_air['Назва домішки'] == 'Сульфати', 'у ГДКс.д.'] = data_air.loc[data_air['Назва домішки'] == 'Сульфати', 'у ГДКс.д.'].fillna(0.006)

In [27]:
# Заміна значень в колонці "у ГДКс.д." на 0.005 для сірководню
data_air.loc[data_air['Назва домішки'] == 'Сiрководень', 'у ГДКс.д.'] = data_air.loc[data_air['Назва домішки'] == 'Сiрководень', 'у ГДКс.д.'].fillna(0.005)

In [28]:
# Заміна значень в колонці "у ГДКм.р." на 0.2 для сульфатів
data_air.loc[data_air['Назва домішки'] == 'Сульфати', 'у ГДКм.р.'] = data_air.loc[data_air['Назва домішки'] == 'Сульфати', 'у ГДКм.р.'].fillna(0.2)

In [29]:
# Перетворюємо стовпець "Дата" у формат дати
data_air['Дата'] = pd.to_datetime(data_air['Дата'])

# Сортуємо дані за стовпцем "Дата" від меншої до більшої
data_air = data_air.sort_values(by='Дата')
data_air

C:\Users\Katya\AppData\Local\Temp\ipykernel_15404\3747348687.py:2: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data_air['Дата'] = pd.to_datetime(data_air['Дата'])

,Місто,Назва домішки,"qср, мг/м3",у ГДКс.д.,"qмакс, мг/м3",у ГДКм.р.,Дата
0,Біла Церква,Завислі речовини,0.075500,0.503333,0.1070,0.214000,2021-11-30
199,Світловодськ,Сульфати,0.008333,0.006000,0.0200,0.200000,2021-11-30
198,Світловодськ,Дiоксид сiрки,0.010581,0.211611,0.0322,0.064400,2021-11-30
197,Світловодськ,Завислі речовини,0.043750,0.291667,0.1000,0.200000,2021-11-30
196,Рубіжне,Анілін,0.005842,0.194747,0.0166,0.332000,2021-11-30
...,...,...,...,...,...,...,...
389,Кременчук,Амiак,0.004531,0.113277,0.0177,0.088500,2021-12-31
388,Кременчук,Сажа,0.007853,0.157058,0.0302,0.201333,2021-12-31
387,Кременчук,Фенол,0.001516,0.505357,0.0141,1.410000,2021-12-31
385,Кременчук,Дiоксид азоту,0.034566,0.864145,0.2383,1.191500,2021-12-31
588,Чернігів,Дiоксид азоту,0.084792,2.119796,0.1635,0.817500,2021-12-31

In [30]:
# Перетворюємо стовпець "Дата" у формат дати
data_index['Дата'] = pd.to_datetime(data_index['Дата'])

# Сортуємо дані за стовпцем "Дата" від меншої до більшої
data_index = data_index.sort_values(by='Дата')
data_index

C:\Users\Katya\AppData\Local\Temp\ipykernel_15404\1891573029.py:2: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data_index['Дата'] = pd.to_datetime(data_index['Дата'])

            Місто  Індекс забруднення атмосфери       Дата
0     Біла Церква                          4.23 2021-11-30
22    Олександрія                          3.35 2021-11-30
23        Полтава                          4.25 2021-11-30
24          Рівне                          6.52 2021-11-30
25        Рубіжне                          6.37 2021-11-30
..            ...                           ...        ...
53  Кропивницький                          4.08 2021-12-31
54     Лисичанськ                          5.37 2021-12-31
55          Луцьк                          5.71 2021-12-31
57      Маріуполь                         11.19 2021-12-31
77       Чернігів                          3.82 2021-12-31

[78 rows x 3 columns]

In [31]:
data_air.info()
data_index.info()

<class 'pandas.core.frame.DataFrame'>
Index: 589 entries, 0 to 588
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Місто           589 non-null    object
 1   Назва домішки   589 non-null    object
 2   qср,     мг/м3  589 non-null    float64
 3   у ГДКс.д.       589 non-null    float64
 4   qмакс, мг/м3    589 non-null    float64
 5   у ГДКм.р.       589 non-null    float64
 6   Дата            589 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 36.8+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 78 entries, 0 to 77
Data columns (total 3 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Місто                         78 non-null     object
 1   Індекс забруднення атмосфери  78 non-null     float64
 2   Дата                          78 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 2.4+ KB

In [32]:
# Створення списку з унікальними назвами домішок
unique = data_air['Назва домішки'].unique()
print(unique)

['Завислі речовини' 'Сульфати' 'Дiоксид сiрки' 'Анілін' 'Формальдегiд'
 'Хлористий водень' 'Оксид вуглецю' 'Дiоксид азоту' 'Амiак'
 'Фтористий водень' 'Оксид азоту' 'Фенол' 'Сiрководень' 'Сажа']

In [33]:
# Створення нової таблиці з домішками та класами небезпеки, до яких вони відносяться
data_class = pd.DataFrame({'Назва домішки': ['Завислі речовини', 'Дiоксид сiрки', 'Оксид вуглецю', 'Дiоксид азоту',
                                             'Фтористий водень', 'Амiак', 'Формальдегiд', 'Фенол', 'Сажа', 'Хлористий водень',
                                             'Оксид азоту', 'Сiрководень', 'Сульфати', 'Анілін'],
                           'Клас небезпеки': [3, 3, 4, 3, 2, 4, 2, 2, 3, 2, 3, 2, 4, 2]})
data_class

       Назва домішки  Клас небезпеки
0   Завислі речовини               3
1      Дiоксид сiрки               3
2      Оксид вуглецю               4
3      Дiоксид азоту               3
4   Фтористий водень               2
5              Амiак               4
6       Формальдегiд               2
7              Фенол               2
8               Сажа               3
9   Хлористий водень               2
10       Оксид азоту               3
11       Сiрководень               2
12          Сульфати               4
13            Анілін               2

In [34]:
# Зміна типу даних
data_class['Клас небезпеки'] = data_class['Клас небезпеки'].astype('int8')
# Перегляд модифікованої структури та основної інформації
data_class.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Назва домішки   14 non-null     object
 1   Клас небезпеки  14 non-null     int8
dtypes: int8(1), object(1)
memory usage: 258.0+ bytes

In [35]:
# Запис у excel-файл на різні листи
with pd.ExcelWriter('D:/Jupyter notebook/3 курс/Air_town/Air_town_data3.xlsx') as writer:
    data_air.to_excel(writer, sheet_name='Основні дані', index=False)
    data_index.to_excel(writer, sheet_name='Індекси забруднення', index=False)
    data_class.to_excel(writer, sheet_name='Класи небезпеки', index=False)

In [1]:
import pandas as pd
data_air = pd.read_excel('D:/Jupyter notebook/3 курс/Air_town/Data_air_town.xlsx', sheet_name='Основні дані')
data_air

,Місто,Назва домішки,"qср, мг/м3",у ГДКс.д.,"qмакс, мг/м3",у ГДКм.р.,Дата
0,Біла Церква,Завислі речовини,0.063093,0.420617,0.1420,0.284000,31.03.2023
1,Біла Церква,Дiоксид сiрки,0.032899,0.657972,0.0642,0.128400,31.03.2023
2,Біла Церква,Оксид вуглецю,1.295370,0.431790,2.4000,0.480000,31.03.2023
3,Біла Церква,Дiоксид азоту,0.117694,2.942338,0.2406,1.203000,31.03.2023
4,Бровари,Завислі речовини,0.052667,0.351111,0.0720,0.144000,31.03.2023
...,...,...,...,...,...,...,...
6314,Чернівці,Формальдегiд,0.004140,1.379915,0.0411,1.174286,31.01.2021
6315,Чернігів,Завислі речовини,0.046531,0.310208,0.1000,0.200000,31.01.2021
6316,Чернігів,Дiоксид сiрки,0.041863,0.837250,0.0604,0.120800,31.01.2021
6317,Чернігів,Оксид вуглецю,1.478229,0.492743,1.9200,0.384000,31.01.2021
6318,Чернігів,Дiоксид азоту,0.088551,2.213763,0.1790,0.895000,31.01.2021

In [15]:
unique_cities = data_air['Місто'].unique()
print(unique_cities)

['Біла Церква' 'Бровари' 'Вінниця' 'Горішні Плавні' 'Дніпро' 'Житомир'
 'Запоріжжя' 'Івано-Франківськ' 'Ізмаїл' "Кам'янське" 'Київ' 'Кременчук'
 'Кривий Ріг' 'Кропивницький' 'Луцьк' 'Львів' 'Миколаїв' 'Обухів' 'Одеса'
 'Олександрія' 'Полтава' 'Рівне' 'Світловодськ' 'Суми' 'Тернопіль'
 'Ужгород' 'Українка' 'Харків' 'Херсон' 'Хмельницький' 'Черкаси'
 'Чернівці' 'Чернігів' 'Краматорськ' 'Лисичанськ' 'Маріуполь' 'Рубіжне'
 'Сєвєродонецьк' "Слов'янськ"]

In [3]:
# Завантажуємо створену таблицю основних даних для подальшої обробки
data_temp = pd.read_excel('D:/Jupyter notebook/3 курс/Air_town/Маріуполь.xlsx')
data_temp

            date  tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt    pres  tsun
0     2021-01-01   1.6   0.6   2.5   NaN   NaN    96  12.7   NaN  1018.1   NaN
1     2021-01-02   3.7   1.3   6.5   NaN   NaN   252   4.1   NaN  1025.3   NaN
2     2021-01-03   0.8  -1.9   2.7   NaN   NaN    86  11.0   NaN  1032.5   NaN
3     2021-01-04   0.9  -0.5   2.7   NaN   NaN    90  21.6   NaN  1028.4   NaN
4     2021-01-05   0.9  -0.2   2.2   NaN   NaN    87  22.1   NaN  1022.5   NaN
...          ...   ...   ...   ...   ...   ...   ...   ...   ...     ...   ...
1181  2024-03-27   8.8   4.8  12.9   0.0   NaN   257   5.8   NaN  1015.3   NaN
1182  2024-03-28   9.2   5.0  12.6   0.0   NaN   161   7.1   NaN  1018.6   NaN
1183  2024-03-29  11.3   8.1  15.7  13.8   NaN   193  11.6   NaN  1012.8   NaN
1184  2024-03-30  12.0   8.9  16.0   0.0   NaN   260   9.9   NaN  1018.2   NaN
1185  2024-03-31  13.6   8.5  18.6   0.0   NaN   178   4.9   NaN  1022.7   NaN

[1186 rows x 11 columns]

In [5]:
# Додавання колонки з датою
data_temp['Місто'] = 'Маріуполь'
data_temp

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,Місто
0,2021-01-01,1.6,0.6,2.5,NaN,NaN,96,12.7,NaN,1018.1,NaN,Маріуполь
1,2021-01-02,3.7,1.3,6.5,NaN,NaN,252,4.1,NaN,1025.3,NaN,Маріуполь
2,2021-01-03,0.8,-1.9,2.7,NaN,NaN,86,11.0,NaN,1032.5,NaN,Маріуполь
3,2021-01-04,0.9,-0.5,2.7,NaN,NaN,90,21.6,NaN,1028.4,NaN,Маріуполь
4,2021-01-05,0.9,-0.2,2.2,NaN,NaN,87,22.1,NaN,1022.5,NaN,Маріуполь
...,...,...,...,...,...,...,...,...,...,...,...,...
1181,2024-03-27,8.8,4.8,12.9,0.0,NaN,257,5.8,NaN,1015.3,NaN,Маріуполь
1182,2024-03-28,9.2,5.0,12.6,0.0,NaN,161,7.1,NaN,1018.6,NaN,Маріуполь
1183,2024-03-29,11.3,8.1,15.7,13.8,NaN,193,11.6,NaN,1012.8,NaN,Маріуполь
1184,2024-03-30,12.0,8.9,16.0,0.0,NaN,260,9.9,NaN,1018.2,NaN,Маріуполь
1185,2024-03-31,13.6,8.5,18.6,0.0,NaN,178,4.9,NaN,1022.7,NaN,Маріуполь